################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/HelloWorld/obj
/HelloWorld/.vs/HelloWorld/DesignTimeBuild
/HelloWorld/.vs/HelloWorld/FileContentIndex
/HelloWorld/bin/Debug/net8.0/HelloWorld.exe
/HelloWorld/bin/Debug/net8.0
/HelloWorld/.vs/ProjectEvaluation/helloworld.metadata.v9.bin
/HelloWorld/.vs/ProjectEvaluation/helloworld.strings.v9.bin
/HelloWorld/.vs/ProjectEvaluation/helloworld.projects.v9.bin
/HelloWorld/.vs/HelloWorld/v17/.futdcache.v2
