################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/HelloWorld/obj
/HelloWorld/.vs/HelloWorld/DesignTimeBuild
/HelloWorld/.vs/HelloWorld/FileContentIndex
